# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Colab checkpoints
.ipynb_checkpoints/

# Ignore collected submission zip and PDF
*_submission.zip
*_submission.pdf

# Ignore dataset files
datasets/
assignments/assignment3/data/
assignments/assignment3/pretrained_model/
assignments/assignment2/BatchNormalization.ipynb
